@{
    ViewBag.Title = "Sign Up";
}

<h2>Sign Up</h2>
<p>
   @Html.ActionLink("Connect with Facebook", "SignUpFacebook")
</p>
<p>or sign up with your @Html.ActionLink("email address", "register")</p>


