@{
    ViewBag.Title = "Invalid Url";
}

<h2>Invalid Url!</h2>
<h4>The url that you have entered is not valid. If you have been directed here from a link, please try to copy and paste the url into the browser. If you continue to experience problems, please contact us.</h4>
